*{
    margin: 0;padding: 0;box-sizing: border-box;
    
}
nav{
    width:100%;
    background:#000;
    overflow:hidden;
}
nav ul{
    list-style-type: none;
    float:right;
    margin: 9px;
}
nav ul li{
    display:inline-block;
}
nav ul li a {
    text-decoration: none;
    padding:20px 30px;
    text-align:center;
    color:#fff;
    letter-spacing:2px;
    display: block;
    font-family:'Courier New', Courier, monospace;
    font-weight:700;
}
img.logo-size{
    height:65px;
    width:80px;
}
.logo{
    float:left;
    padding:10px;
    margin-left:40px;
    margin-bottom: 2px;
}
h1{
    text-align:center !important;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:600;
}
.light-bg{
background-color:rgba(153, 238, 140, 0.482);
color:rgba(0, 0, 0, 0.567);
}
main{
    background-color:rgb(219, 211, 163);
}
form{display:flex;flex-wrap: wrap;}
.left-button{
    position:relative;
    left:40%;
}
.right-button{
    position:relative;
    left:50%;
    
}
#parent {
    display: table;
    width: 100%;
 }
 #donate {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
 }
 








